/* Day 26: Basic Styling */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  background-color: aqua;
}

h2 {
  color: #333;
}

input {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

#output {
  margin-top: 10px;
  font-weight: bold;
}
